@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@-moz-viewport {
  width: device-width;
  scale: 1;
}

@-ms-viewport {
  width: device-width;
  scale: 1;
}

@-webkit-viewport {
  width: device-width;
  scale: 1;
}

@viewport {
  width: device-width;
  scale: 1;
}

html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

body.noscript .close-btn,
body.noscript .toggle-btn {
  display: none;
}

.logo {
  position: absolute;
  padding-top: 1em;
  top: 1em;
  left: 5em;
}

header {
  padding: 0 1em;
  position: relative;
  height: 7em;
}

.toggle-btn {
  position: absolute;
  right: 1em;
}

.navigation ul {
  padding: 0;
}

.navigation li {
  list-style-type: none;
}

.navigation li a {
  display: block;
  text-align: center;
  padding: 1em 1em;
  text-decoration: none;
  color: #fff;
  font-size: 1em;
}

.navigation li a:hover, .navigation li a:active .navigation li a:focus {
  opacity: 0.2;
}

.toggle-btn,
.close-btn {
  color: #222;
  text-decoration: none;
  height: 40px;
  width: 40px;
}

.toggle-btn:before,
.close-btn:before {
  height: 40px;
  width: 40px;
  display: inline-block;
  padding: 13px 11px;
  padding-top: 3.25em;
}

.toggle-btn span,
.close-btn span {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.close-btn {
  margin: 1em;
  color: #fff;
}

.impact-image {
  position: relative;
  width: 100%;
}

.impact-image .banner {
  margin: 0 auto;
  width: 100%;
  display: block;
  background-size: cover;
  text-align: center;
}

.impact-image h2 {
  position: absolute;
  top: 200px;
  left: 2em;
  width: 100%;
  color: white;
  font-size: 4em;
}

/**
*sliding navigation
*/
footer {
  background-color: #23223C;
  height: 15em;
}

.icon-twitter-icon {
  display: block;
  position: absolute;
  z-index: 1;
  font-size: 2em;
  color: #fff;
}

.icon-twitter-icon:hover, .icon-twitter-icon:active .icon-twitter-icon:focus {
  color: #00aced;
}

.icon-instagram-icon {
  display: block;
  position: absolute;
  z-index: 1;
  font-size: 2em;
  color: #fff;
}

.icon-instagram-icon:hover, .icon-instagram-icon:active .icon-instagram-icon:focus {
  color: #ded1c1;
}

.icon-facebook-icon {
  display: block;
  position: absolute;
  z-index: 1;
  font-size: 2em;
  color: #fff;
}

.icon-facebook-icon:hover, .icon-facebook-icon:active .icon-facebook-icon:focus {
  color: #3b5998;
}

.bttn {
  display: inline-block;
  margin: 2em;
  float: right;
}

.social-media {
  padding-right: 5em;
  padding-top: 5em;
}

.nav-footer ul {
  display: inline-block;
  position: absolute;
  right: 3em;
  color: #fff;
}

.nav-footer ul li {
  display: inline-block;
}

.nav-footer ul a {
  display: block;
  text-align: center;
  padding: 1em 1em;
  text-decoration: none;
  color: #fff;
  font-size: .85em;
}

.nav-footer ul a:hover, .nav-footer ul a:active .nav-footer ul a:focus {
  opacity: 0.2;
}

.about {
  background-color: pink;
  height: 20em;
}

.about h3 {
  margin: 0;
  padding-top: 2.5em;
  padding-bottom: 1em;
  color: white;
  text-align: center;
}

.about p {
  color: white;
  text-align: center;
  max-width: 50em;
  margin: 0 auto;
  padding-bottom: 2em;
}

@media only screen and (max-width: 60em) {
  .site-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    z-index: 100;
  }
  .site-wrapper .sliding-canvas {
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    transition: all 300ms ease-in-out;
  }
  .site-wrapper[data-state="slide-open"] .sliding-canvas {
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .site-wrapper[data-state="slide-open"] {
    overflow: visible;
  }
  .navigation {
    position: absolute;
    width: 100%;
    right: -100%;
    top: 0;
    bottom: 0;
    min-height: 800px;
    background-color: #23223C;
  }
}

@media only screen and (min-width: 60em) {
  .toggle-btn,
  .close-btn {
    display: none;
  }
  .navigation ul {
    display: inline-block;
    position: absolute;
    right: 3em;
    top: 2em;
    color: #222;
  }
  .navigation ul li {
    display: inline-block;
  }
  .navigation ul a {
    font-size: .85em;
    color: #222;
  }
  .navigation ul a:hover, .navigation ul a:active .navigation ul a:focus {
    opacity: 0.2;
  }
}

body.noscript .navigation {
  position: static;
  right: auto;
}

/*# sourceMappingURL=style.css.map */