@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
    
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
     text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  width: 100%;
  display: block;
}

body{
  font-family: 'Open Sans', sans-serif;
  @include zero;
  // Hides close button if there is no js
  &.noscript .close-btn,
  &.noscript .toggle-btn{
      display: none;
  }
}

/**
*START OF HOMEPAGE
*/

.logo {
  position: absolute;
  padding-top: 1em;
  top: 1em;
  left: 3em;
}

header {
  padding: 0 1em;
  position: relative;
  height: 7em;

}

.toggle-btn{
	position: absolute;
	right: 1em;
}

.navigation{
		ul{
			padding: 0;
		}
		li{
			list-style-type: none;
		a{
			display: block;
			text-align: center;
			padding: 1em 1em;
			text-decoration: none;
            color: $white;
            font-size: 1em;
            &:hover, &:active &:focus {
            opacity: 0.2;
            }
		}
	}
}

.toggle-btn,
.close-btn {
	color: $dark-grey;
	text-decoration: none;
	height: 40px;
	width: 40px;
	&:before {
		height: 40px;
		width: 40px;
		display: inline-block;
		padding: 13px 11px;
        padding-top: 3.25em;
	}
	span{
		@include element-invisible;
	}
}

.close-btn{
	margin: 1em;
    color: $white;
}

.impact-image { 
  background-image: url(images/impact-image.jpg);
  background-size: cover;
  h2 { 
    color: white;
    font-size: 4em;
  }
  .get-started {
   @include button;
     &:hover, &:active &:focus {
     background-color: $white;
     color: $navy;
     }
  }
}

/**
*sliding navigation
*/

//Page should move when the nav opens
// This is the only time we use max-width EVER.

footer {
  background-color: $navy;
  height: 12em;
}

.icon-twitter-icon {
  @include social($white);
    &:hover, &:active &:focus {
      color: $twitter;
    }
}

.icon-instagram-icon {
  @include social($white);
  &:hover, &:active &:focus {
      color: $instagram;
    }
}

.icon-facebook-icon {
  @include social($white);
  &:hover, &:active &:focus {
      color: $facebook;
    }
}

.social-media {
  padding-right: 5em;
  padding-top: 5em;
  display: inline-block;
  float: right;
}

.nav-footer ul {
		display: inline-block;
		position: absolute;
		right: 3em;
        color: $white;

      li{
		display: inline-block;
		}
      a{
        display: block;
			text-align: center;
			padding: 1em 1em;
			text-decoration: none;
            color: $white;
            font-size: .85em;
            &:hover, &:active &:focus {
            opacity: 0.2;
        }
      }
    }

.about {
  background-color: $pink;
  padding-bottom: 2em;
  h3 {
    margin: 0;
    padding: 2em 2em 1em 2em;
    color:white;
    text-align: center;
    font-size: 2em;
  }
  p{
    color:white;
    text-align: center;
    max-width: 50em;
    margin: 0 auto;
    padding-bottom: 2em;
  }
}

.fundraisers {
  padding: 4em;
  h3 {
    margin: 0;
    color:$blue;
    text-align: center;
    font-size: 2em;
    padding-bottom: 1em;
  }
  p{
    color:$blue;
    text-align: center;
    max-width: 50em;
    margin: 0 auto;
    padding-bottom: 2em;
  }
  .learn-more {
    @include button;
    border: 2px solid $blue;
    text-align: center;
    display: block;
    margin: 0 auto;
    color: $blue;
    &:hover, &:active &:focus {
    background-color: $blue;
    color: $white;
  }
 }
}

.events {
  padding: 4em;
  h3 {
    margin: 0;
    color:$navy;
    text-align: center;
    font-size: 2em;
    padding-bottom: 1em;
  }
  p{
    color:$navy;
    text-align: center;
    max-width: 50em;
    margin: 0 auto;
    padding-bottom: 2em;
  }
  .see-packages {
    @include button;
    border: 2px solid $navy;
    color: $navy;
    display: block;
    margin: 0 auto;
    &:hover, &:active &:focus {
    background-color: $navy;
    color: $white;
  }
 }
}

@media only screen and (max-width: 60em){
	.site-wrapper{
		position: relative;
		overflow: hidden;
		width: 100%;
		z-index: 100;
	.sliding-canvas{
		width: 100%;
		height: 100%;
		position: relative;
		transform: translateX(0);
		transition: all 300ms ease-in-out;
	}

	&[data-state="slide-open"] .sliding-canvas{
		transform: translateX(-100%);
	}

	&[data-state="slide-open"]{
		overflow: visible;
	}

 }

	.navigation{
	 	position: absolute;
	 	width: 100%;
	 	right: -100%;
	 	top: 0;
	 	bottom: 0;
		min-height: 3000px;
        background-color: $navy;
  }
}

@media only screen and (min-width: 60em){
	.toggle-btn,
	.close-btn{
		display: none;
	}
	.navigation ul {
		display: inline-block;
		position: absolute;
		right: 3em;
        top:2em;
        color: $dark-grey;

      li{
		display: inline-block;
		}
      a{
        font-size: .85em;
        color: $dark-grey;
        &:hover, &:active &:focus {
        opacity: 0.2;
        }
      }
    }
}

.nav-footer ul {
  text-align: center;
}

.bttn {
  display: inline-block;
  margin: 2em;
}

.social-media {
  display: inline-block;
  float: center;
}


body.noscript .navigation {
	position: static;
	right: auto;
}

.blog-wrapper{
  margin: 0 auto;
  padding: 15px;
}

ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  
  &:after{
    content: "";
    display: table;
    clear: both;
  }
  
}

/**
*END OF HOMEPAGE
*/


/**
*START OF BLOG PAGE
*/

.tile{
  margin: 0 0 20px 0;
  float: left;
  width: 100%;
  position: relative;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  @media (min-width: 480px) {
    margin: 1%;
    width: 48%;
  }
  
  @media (min-width: 768px) {
    margin: 1%;
    width: 31.333%;
  }
  
  &:before{
    content: "";
    display: block;
    padding-top: 100%;
  }
  
  &__info{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 20px 20px 60px 20px;
    z-index: 10;
    background: $navy;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
  }
  &:hover &__info{
    opacity: 1;
  }
  
  &__title{
    margin: 0;
    font-size: 20px;
    font-family: $oswald;
    font-weight: 300;
    text-transform: uppercase;
    color: $white;
  }
  &__description{
    font-size: 16px;
    overflow-y: auto;
    color: $white;
  }
  &__button{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    background: $blue;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 109.5px;
    z-index: 20;
    transition: all 0.15s ease-in-out;
    font-family: $oswald;
    opacity:8; 
    display: block;
    
   
    &:hover{
background: $pink;
    }
  }  
}

/**
*END OF BLOG PAGE
*/

/**
*START OF ABOUT PAGE
*/


mission-img {
  height: 100%;
}

.our-mission {
  padding: 5em;
  background-color: $navy;
  h3{
    font-size: 24px;
    font-family: $oswald;
    font-weight: 300;
    text-transform: uppercase;
    color: $white;
    
}
  p {
    color: $white;
  }
}

.goddess {
  padding: 5em;
  h3{
    font-size: 24px;
    font-family: $oswald;
    font-weight: 300;
    text-transform: uppercase;
    color: $navy;
  }
  p {
    color: $navy;
  }
  .apply-now {
     @include button;
    border: 2px solid $navy;
    color: $navy;
    display: block;
    &:hover, &:active &:focus {
    background-color: $navy;
    color: $white
    }
  }
}

.donate {
  background-color: $blue;
  padding: 2em;
  p{
    color: white;
    max-width: 60em;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 2em;
  }
  .donate {
    @include button;
    border: 2px solid $white;
    color: $white;
    display: block;
    margin: 0 auto;
    &:hover, &:active &:focus {
    background-color: $white;
    color: $blue;
    }
  }
}

/**
*END OF ABOUT PAGE
*/

/**
*START OF MALIAH PAGE
*/

.meet-maliah {
  max-width: 60em;
  margin: 0 auto;
  padding: 2em 2em 5em 2em;
  h3 {
    font-size: 50px;
    font-family: $oswald;
    font-weight: 300;
    text-transform: uppercase;
    color: $navy;
  }
  p {
    padding-bottom: 2em;
  }
  .donate {
    @include button;
    border: 2px solid $navy;
    color: $navy;
    display: block;
    &:hover, &:active &:focus {
    background-color: $navy;
    color: $white;
    }
  }
}

/**
*START OF INVOLVED PAGE
*/

.adventures {
  padding: 5em;
  h3{
    font-size: 24px;
    font-family: $oswald;
    font-weight: 300;
    text-transform: uppercase;
    color: $navy;
  }
    p {
    color: $navy;
    }
}

.current-adventures {
    h3{
    font-size: 24px;
    font-family: $oswald;
    font-weight: 300;
    text-transform: uppercase;
    color: $navy;
  }
    p {
    color: $navy;
    }
    ul {
    color: $navy;
    }
}