<!DOCTYPE html>
<html lang="en-ca">
<head>
	<meta charset="utf-8">
	<title>Project Athena</title>
    <link href="https://file.myfontastic.com/RaNx43YypyLWpEL7QKVu7j/icons.css" rel="stylesheet">
	<link href="https://file.myfontastic.com/MGBNLMU3WjcpkEBDsk5FqN/icons.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<meta name="handheldfriendly" content="true">
	<meta name="mobileoptimized" content="240">
	<meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body class="noscript">
	<div class="site-wrapper" data-state="slide-closed">
		<div class="sliding-canvas">

      <header class="header">
        
        <div class="logo">
          <a href="">
        <img src="{{site.baseurl}}/images/athena-logo.svg" alt="Athena Logo" />
          </a>
        </div>
        
          <!-- Menu Toggle Icon -->
        <a class="toggle-btn i-menu" href="#main-menu"><span>Menu</span></a>

        <nav class="navigation slide-menu">

        <a class="close-btn i-close" href="#main-menu"><span>Close</span></a>
          <ul>
            <li><a class="list" href="#">ABOUT</a></li>
            <li><a class="list" href="#">GET INVOLVED</a></li>
            <li><a class="list" href="#">BLOG</a></li>
            <li><a class="list" href="#">CONTACT</a></li>
            <li><a class="list" href="#">DONATE</a></li>
          </ul>
        </nav>
        
      </header><!-- /header -->

{{content}}

      <footer>
        
      <form class="suscribe">
        <input type="email" value="" placeholder="Suscribe" />
      </form>

</form>
        
      <div class="social-media">  
        <a class="bttn" href=""><i class="icon-twitter-icon"></i></a>
        <a class="bttn" href=""><i class="icon-instagram-icon"></i></a>
        <a class="bttn" href=""><i class="icon-facebook-icon"></i></a>
      </div>


      </footer><!-- /footer -->
		</div><!-- .sliding-canvas  -->
		</div><!-- .site-wrapper  -->
  <!-- JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="js/push-menu.js"></script>
</body>
</html>
