<!DOCTYPE html>
<html lang="en-ca">

<head>
	<meta charset="utf-8">
	<title>Project Athena</title>
    <link href="{{site.baseurl}}/favicon.ico" rel="shortcut icon">
    <link href="https://file.myfontastic.com/RaNx43YypyLWpEL7QKVu7j/icons.css" rel="stylesheet">
	<link href="https://file.myfontastic.com/MGBNLMU3WjcpkEBDsk5FqN/icons.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
    <link href="css/grid.css" rel="stylesheet">
	<meta name="handheldfriendly" content="true">
	<meta name="mobileoptimized" content="240">
	<meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body class="noscript">
	
    <div class="site-wrapper" data-state="slide-closed">
		
        <div class="sliding-canvas">

    <header class="header">
            <div class="max-width">
                <div class="logo">
          <a href="{{site.baseurl}}/index.html">
        <img src="{{site.baseurl}}/images/athena-logo-blue.svg" alt="Athena Logo" />
          </a>
                </div>
        
          <!-- Menu Toggle Icon -->
        <a class="toggle-btn i-menu" href="#main-menu"><span>Menu</span></a>

        <nav class="navigation slide-menu">
            
        <a class="close-btn i-close" href="#main-menu"><span>Close</span></a>
          <ul>
            <li><a class="list" href="{{site.baseurl}}/about.html"><strong>ABOUT</strong></a></li>
            <li><a class="list" href="{{site.baseurl}}/involved.html"><strong>GET INVOLVED</strong></a></li>
            <li><a class="list" href="{{site.baseurl}}/blog.html"><strong>ATHENA'S</strong></a></li>
            <li><a class="list" href="{{site.baseurl}}/donate.html"><strong>DONATE</strong></a></li>
            <li><a class="list" href="{{site.baseurl}}/contact.html"><strong>CONTACT</strong></a></li>
          </ul>
        </nav>
            </div>
      </header><!-- /header -->

{{content}}

      <footer>
        
            
          <div class="nav-footer">
        <ul>
            <li><a class="list" href="{{site.baseurl}}/about.html"><strong>ABOUT</strong></a></li>
            <li><a class="list" href="{{site.baseurl}}/involved.html"><strong>GET INVOLVED</strong></a></li>
            <li><a class="list" href="{{site.baseurl}}/blog.html"><strong>ATHENA'S</strong></a></li>
            <li><a class="list" href="{{site.baseurl}}/donate.html"><strong>DONATE</strong></a></li>
            <li><a class="list" href="{{site.baseurl}}/contact.html"><strong>CONTACT</strong></a></li>
          </ul>
        </div>
        
        <div class="social-media"> 
        <a class="bttn" href="https://twitter.com/projectathena"><i class="icon-twitter-icon"></i></a>
        <a class="bttn" href="https://www.instagram.com/projectathena_foundation/"><i class="icon-instagram-icon"></i></a>
        <a class="bttn" href="https://www.facebook.com/ProjectAthena/"><i class="icon-facebook-icon"></i></a>
        </div>

        </div>
      </footer><!-- /footer -->

    </div><!-- .sliding-canvas  -->
		</div><!-- .site-wrapper  -->
  <!-- JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="js/push-menu.js"></script>
</body>
</html>